body {
    background-color: #cecece;
}

.conteiner-lg {
    background-color: #fff;
    margin: auto;
    padding: 15px;
    max-width: 1300px;
    width: 100%;
    /* border-radius: 5px; */
}
.badge-secondary{
    background-color: #FF6700;
}
.article-featured-title-conteiner {
    padding-top: 20px;
    padding-left: 30px;
    
}

.conteiner-img  {
    margin: auto;
}
.img {
    width: 80%;
    max-width: 900px;
    margin-bottom: 30px;
}
.text-justify {
    line-height: 30px;
    margin: 15px;
}

.table {
    width: 70%;
    margin: 20px auto;
}